/* .App {
    text-align: center;
    margin-top: 50px;
  }
  
  input {
    margin-right: 10px;
  }*/
  
  ul {
    list-style-type: none;
  }
  
  /* li {
    margin-top: 10px;
  }
  
  button{
    background-color: #564caf;
    border: none;
    color: #fff;
  }

  .btn{
    margin-left: 100px;
  } */ 